.app-container {
  margin: 2rem;
}

.buttons-container {
  display: flex;
  margin: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons-container button {
  margin: 2rem;
  margin: 1rem;
  background-color: rgb(228, 166, 91);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.5rem 0.5rem 1rem grey;
}

.inputs-container {
  display: flex;
  /* margin: 2rem; */
  flex-wrap: wrap;
  justify-content: center;
}

.inputs-container div {
  margin: 2rem;
}

.inputs-container label {
  margin: 1rem;
  background-color: rgb(185, 128, 57);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 0.5rem 0.5rem 1rem grey;
}

.inputs-container input {
  border-radius: 1rem;
  border: 0.2rem solid gray;
}

.card-container {
  margin: 2rem;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem gray;
  font-weight: bold;
  width: 10rem;
  height: 10rem;
  background-color: beige;
  border-radius: 2rem;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.error-container {
  display: flex;
  padding: 2rem;
  border-radius: 2rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: rgb(189, 83, 83);
  font-size: 3rem;
  justify-items: center;
}
